/* --- EASYDROPDOWN FLAT THEME by Jan Cantor --- */

/* PREFIXED CSS */

.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after,
.dropdown .carat,
.dropdown .carat:after,
.dropdown .selected::after,
.dropdown:after
{
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.dropdown .carat
{
	padding: 0 !important;
}

.dropdown .selected::after,
.dropdown.scrollable div::after
{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}

/* WRAPPER */

.dropdown
{
	position: relative;
	width: 240px;
	height: 16px;
	font-weight: 200;
	background: #333;
	padding: 8px 5px 8px;
	margin: 0 0 0 5px;
	border-radius: 5px;
	color:  #000;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.dropdown.open
{
	z-index: 2;
}

.dropdown:hover,
.dropdown.focus
{
	background: #404040;
}

/* CARAT */

.dropdown .carat,
.dropdown .carat:after
{
	position: absolute;
	right: 14px;
	top: 50%;
	margin-top: -3px;
	border: 6px solid transparent;
	border-top: 6px solid #fff;
	z-index: 1;
	-webkit-transform-origin: 50% 20%;
	-moz-transform-origin: 50% 20%;
	-ms-transform-origin: 50% 20%;
	transform-origin: 50% 20%;
}

.dropdown:hover .carat:after
{
	border-top-color: #f4f4f4;
}

.dropdown.focus .carat
{
	border-top-color: #f8f8f8;
}

.dropdown.focus .carat:after
{
	border-top-color: #222;
}

.dropdown.open .carat
{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

/* OLD SELECT (HIDDEN) */

.dropdown .old
{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}

.dropdown select
{
	position: absolute;
	left: 0px;
	top: 0px;
}

.dropdown.touch select
{
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

/* SELECTED FEEDBACK ITEM */
.dropdown .selected
{
    color: #fff;
}

.dropdown .selected,
.dropdown li
{
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	padding: 8px 12px;
	overflow: hidden;
	white-space: nowrap;
}

.dropdown .selected::after
{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 60px;
	border-radius: 0 5px 5px 0;
	box-shadow: inset -55px 0 15px -15px #666;
}

.dropdown:hover .selected::after,
.dropdown.focus .selected::after
{
	box-shadow: inset -55px 0 15px -15px #999;
}

/* DROP DOWN WRAPPER */

.dropdown div
{
	position: absolute;
	height: 0;
	left: 0;
	right: 0;
	top: 100%;
	margin-top: 1px;
	background: #333;
	overflow: hidden;
	opacity: 0;
	color: #fff;
	border-radius: 5px;
}

.dropdown:hover div
{
	background: #404040;
	border-radius: 5px;
}

/* Height is adjusted by JS on open */

.dropdown.open div
{
	opacity: 1;
	z-index: 2;
}

/* FADE OVERLAY FOR SCROLLING LISTS */

.dropdown.scrollable div::after
{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
}

.dropdown.scrollable.bottom div::after
{
	opacity: 0;
}

/* DROP DOWN LIST */

.dropdown ul
{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
	border-radius: 5px;
}

.dropdown.scrollable.open ul
{
	overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */

.dropdown li
{
	list-style: none;
	padding: 14px 12px;
	border-bottom: 1px solid #000;
	line-height: 10px !important;
}

.dropdown li:last-child
{
    border-bottom: 0;
}

/* .focus class is also added on hover */

.dropdown li.focus
{
	background: #777 !important;
	position: relative;
	z-index: 3;
	color: #fff;
}

.dropdown li.active
{
	background: #888 !important;
	color: #fff;
}

.dropdown span
{
	padding: 0 0 0 10px !important;
}