/* Page Layout */

*
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: url(cursors/default.png), default;
}

html, body
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	letter-spacing: 1px;
	font-size: 1.1em;
}

/*  World Rendering */

#worldcanvas
{
	width: 100%;
	height: 100%;
	opacity: 0;
}

/* Layout for all Windows */

.uiWindow
{
	display: none;
	z-index: 100;
}

.popupmsg
{
	position: absolute;
	z-index: 15000;
	color: #fff;
	padding: 5px;
	-webkit-box-shadow: 3px 3px 5px #333;
	box-shadow: 3px 3px 5px #333;
	background: #161616 !important;
	opacity: 0.9;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 0.8em;
}

.popupmsg input[type="button"]
{
	border: 1px solid #fff;
	border-radius: 3px;
	background: #ddd;
	color: #000;
	font-family: "Times New Roman", Times, serif;
}

.popupmsg .elist
{
	color: #ff6666;
}

.popupmsg input[type="button"]:hover
{
	color: #777;
}

.popupmsg a
{
	color: #ddd;
}

.popupmsg a:hover
{
	color: #777;
}

#pausedLayer
{
	background: #000;
	left: 0;
	top: 0;
	position: absolute;
	z-index: 50;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	display: none;
}

.selectedItem
{
	border: 1px solid #ffde00 !important;
}

/* Window Title Bar */

.header
{
	position: absolute;
	top: 0;
	padding-top: 3px;
	padding-bottom: 5px;
	text-align: center;
	width: 100%;
}

.header > span
{
	padding: 3px;
	margin: 0;
	white-space: nowrap;
	letter-spacing: 3px;
}

/* Window Main Content */

.content
{
	color: #fff;
	margin-left: 35px;
	margin-right: 31px;
	margin-top: 35px;
	margin-bottom: 35px;
	height: calc(100% - 65px);
}

/* Window Images, TopLeft + BottomRight */

.imgtopleft
{
	position: absolute;
	top: 0;
	left: 0;
}

.imgtopright
{
	position: absolute;
	top: 0;
	right: 0;
}

.imgbottomleft
{
	position: absolute;
	bottom: 0;
	left: 0;
}

.imgbottomright
{
	position: absolute;
	bottom: 0;
	right: 0;
}

/* Sticky Icon */

.sticky
{
	width: 15px;
	height: 15px;
	background-color: #222;
	border: 2px outset #999;
	border-radius: 4px;
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 2000;
}

.sticky:hover
{
	border: 2px outset #bbb;
}

.sticky_on
{
	background-color: #000;
	border: 2px inset #999;
}

.sticky_on:hover
{
	border: 2px inset #bbb;
}

/* Inventory Layout */

.inventory
{
}

/* Inventory Categories */

.inventoryicons
{
	height: 40px;
	width: 40px;
	margin-right: 10px;
	opacity: 0.7;
}

.invmenuicons
{
	text-align: left;
	white-space: nowrap;
	margin-top: 5px;
	padding: 5px;
	overflow: hidden;
}

.inviconsel
{
	opacity: 1;
}

.invmenulist
{
	position: absolute;
	top: 12px;
	right: 9px;
}

.invlisttext
{
	vertical-align: middle;
}

.invmenuicontable
{
	width: 100%;
}

.invmenuicontable td
{
	width: 5px;
}

.invmenuicontable td:last-child
{
	width: auto !important;
}

/* The Inventory Sortings (list+grid) */

.inventorysortinglist
{
	overflow: hidden;
}

.inventorysortinggrid
{
	max-width: 400px;
	overflow: hidden;
}

.invsorting
{
	padding-bottom: 5px;
}

.invsorttablelist
{
	width: 100%;
}

.invsorttablegrid
{
	width: 100%;
	table-layout: fixed;
}

.longname:hover, .shortname:hover
{
	color: #ebdbc1;
}

.sortingtablegrid
{
	width: 350px !important;
}

.sortingtdgrid
{
	width: 40px !important;
}

.sortingtdgrid .invsorttext
{
	text-align: left !important;
}

.sortingtablelist
{
	padding-right: 8px;
	padding-left: 30px;
}

/* Inventory Sorting Arrows */

.sortArrow
{
	width: 10px;
	height: 6px;
	display: none;
	margin-left: 5px;
	vertical-align: middle;
}

.sortDownArrow
{
	background-image: url(../images/arrowdown.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.sortUpArrow
{
	background-image: url(../images/arrowup.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

/* Favorite */

.favicon
{
	position: absolute;
	top: 40px;
	left: 40px;
	display: none;
	width: 20px;
	height: 20px;
}

.favicon_list
{
	position: absolute;
	top: 29px;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	width: 100%;
	text-align: right;
	margin-left: 6px;
	float: right;
}

.favicon_list img
{
	width: 15px;
	height: 15px;
}

/* Quick Keys */

.quickkey
{
	position: absolute;
	top: -10px;
	left: -10px;
	display: none;
	border: 2px solid #999;
	border-radius: 10px;
	width: 20px;
	height: 20px;
	text-align: center;
	padding-left: 1px;
	background: #000;
}

.quickkey_list
{
	position: absolute;
	top: -5px;
	left: -5px;
	display: none;
}

.quickspell
{
	right: 2px;
	top: 5px;
	left: auto !important;
}

/* Inventory, Switch Between H and V Scrollbar */

.changescrollbar
{
	width: 19px;
	height: 17px;
	position: absolute;
	top: 6px;
	right: 35px;
	z-index: 2000;
	opacity: 0.7;
	background-image: url(../images/arrowtopbottom.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.scrollbar_hor
{
	background-image: url(../images/arrowleftright.png);
}

/* Inventory, Filter Items */

.filterinventory
{
	width: 90px;
	height: 15px;
	position: absolute;
	top: 5px;
	right: 70px;
	z-index: 2000;
}

.filterinventory input
{
	width: 100%;
	height: 100%;
	outline: none;
	margin: 0;
	padding: 3px 5px 3px 5px;
	color: #fff;
	background: #151515;
	border: 1px solid transparent;
	border-radius: 5px;
	font-size: 0.6em;
	font-family: "Times New Roman", Times, serif;
	opacity: 0.8;
}

::-webkit-input-placeholder
{
	color: #fff;
}

/* Skills and Attributes Window */

.playertable
{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

.playertable td
{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.player_infolabel
{
	width: 80px;
}

.player_infotext
{
	text-align: right;
	width: auto;
}

.player_skills
{
	width: auto;
	color: #ebdbc1;
}

.player_skillnumber
{
	text-align: right;
	width: 40px;
}

.playerbold
{
	font-weight: bold;
}

.skilltitle
{
	text-transform: capitalize;
	font-weight: bold;
	padding-top: 10px;
}

#playerinfocontainer
{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 80;
}

.playerinfotext
{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 78;
	color: #fff;
	text-align: right;
	text-shadow: 2px 2px #000;
	display: none;
	padding: 0;
	margin: 0;
}

/* UI, The Compass */

#compass
{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 80;
}

#compassneedle
{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 80;
	background: url(../images/playerinfo/compassneedle.png);
}

/* UI, The Health Bar */

#healthouter, #magickaouter, #staminaouter
{
	position: absolute;
	left: 0;
	top: 0;
	color: #fff;
	z-index: 75;
	height: 20px;
	border: 1px outset #ddd;
	border-radius: 0 5px 5px 0;
	background: url(../images/blackbg_light.png);
}

#health, #magicka, #stamina
{

	background-repeat: repeat-x;
	background-position: left top;
	background-size: auto 100%;
	border-radius: 5px;
}

/* UI, Current Selected Item */

.currentitem
{
	position: absolute;
	top : 80px;
	left : 340px;
	background: url(../images/blackbg_light.png);
	width: 50px;
	height: 50px;
	border-radius: 5px;
	border: 1px outset #ddd;
}

.currentitem_sel
{
	padding: 0 !important;
	border: none !important;
	float: none !important;
	margin: 2px !important;
	width: 46px !important;
	height: 46px !important;
}

/* Tooltip Settings */

.ui-tooltip
{
	padding: 8px;
	position: absolute;
	z-index: 9999;
	-webkit-box-shadow: 2px 2px 5px #000;
	box-shadow: 2px 2px 5px #000;
	background: url(../images/blackbg_dark.png) !important;
}

.tooltipcat
{
	padding-right: 5px;
	color: #ebdbc1;
	text-transform: capitalize;
}

.tooltipval
{
	white-space: nowrap;
	text-overflow: ellipsis;
	text-transform: capitalize;
}

/* Inventory */

.inventorytop
{
	width: 100%;
}

.inventoryitem_outer
{
	margin: 5px;
	background-color: #000;
	border-radius: 5px;
	border: 1px solid #999;
	padding: 5px;
}

.inventoryitem_outer_grid
{
	width: 50px;
	height: 50px;
	float: left;
	display: inline-block;
}

.inventoryitem_inner
{
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
}

.inventoryitem_outer_list
{
	width: 96%;
	height: 35px;
	white-space: nowrap;
	background-color: url(../images/blackbg_light.png);
	position: relative;
}

.tableimage
{
	width: 30px;
	height: 30px;
}

.inventory_inner_list
{
	width: 30px;
	height: 30px;
	position: static;
}

.inventoryitem_table
{
	width: 100%;
	table-layout: fixed;
	position: absolute;
	top: 5px;
	left: 5px;
}

.inventoryitem_table td
{
	white-space: nowrap;
	padding: 0;
}

.inventoryitem_table div
{
	margin: 0 !important;
	padding: 0  !important;
}

/* Inventory Icons */

.ishowall
{
	background-image: url(../images/inventoryicons/showall.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 40px;
	height: 40px;
	display: inline-block;
}

.iweapons
{
	background-image: url(../images/inventoryicons/weapons.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 40px;
	height: 40px;
	display: inline-block;
}

.iarmors
{
	background-image: url(../images/inventoryicons/armors.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 40px;
	height: 40px;
	display: inline-block;
}

.iscrollsandbooks
{
	background-image: url(../images/inventoryicons/booksandscrolls.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 40px;
	height: 40px;
	display: inline-block;
}

.iingredients
{
	background-image: url(../images/inventoryicons/ingredients.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 40px;
	height: 40px;
	display: inline-block;
}

.ipotions
{
	background-image: url(../images/inventoryicons/potions.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 40px;
	height: 40px;
	display: inline-block;
}

.ifavorite
{
	background-image: url(../images/inventoryicons/favorites.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 40px;
	height: 40px;
	display: inline-block;
}

.invtype1
{
	background-image: url(../images/inventoryicons/invtype1.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 32px;
	height: 32px;
	display: inline-block;
}

.invtype2
{
	background-image: url(../images/inventoryicons/invtype2.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 32px;
	height: 32px;
	display: inline-block;
}

/* Inventory List Items */

.name
{
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 5px !important;
}

.type
{
	text-transform: capitalize;
	width: 80px;
	text-align: right;
}

.material
{
	width: 120px;
	text-align: right;
}

.weight
{
	width: 60px;
	text-align: right;
}

.value
{
	width: 70px;
	text-align: right;
	padding-right: 5px !important;
}

/* Apparel */

.appareltable
{
	width: 100%;
	height: 100%;
}

.apparelleft
{
}

.apparelright
{
	width: 5%;
}

.apparelinleft
{
	width: 100px;
}

.apparelinright
{
	width: 100px;
}

#playerimage
{
	height: 200px;
}

/* Spell List */

.spell
{
	white-space: nowrap;
	width: calc(100%-2px);
	overflow: hidden;
	border-radius: 3px;
	border: 1px solid #999;
	margin-bottom: 4px;
	padding: 2px;
	text-overflow: ellipsis;
	background: #222;
	position: relative;
}

.spell img
{
	height: 30px;
	width: 30px;
	vertical-align: middle;
	padding-right: 5px;
}

/* Map */

#olmap
{
	background: url(../images/blackbg_light.png);
}

.searchmap
{
	width: 110px;
	height: 15px;
	position: absolute;
	top: 7px;
	right: 50px;
	z-index: 2000;
}

.searchmap input
{
	width: 100%;
	height: 100%;
	outline: none;
	margin: 0;
	padding: 3px 5px 3px 5px;
	color: #000;
	background: #ddd;
	border: 1px solid transparent;
	border-radius: 5px;
	font-size: 0.6em;
	font-family: "Times New Roman", Times, serif;
	opacity: 0.8;
}

.mapfilters
{
	height: 20px;
	position: absolute;
	bottom: 5px;
	left: 30px;
	z-index: 2000;
	white-space: nowrap;
}

.mapfilters img
{
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

/* Settings Page */

#settingsButton
{
	width: 30px;
	height: 30px;
	background: #222;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 10000;
	background-image: url(../images/settings.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 8px;
	border: 1px solid #333;
	opacity: 0.5;
}

.settingsinput
{
	outline: none;
	display: inline-block !important;
	width: 170px !important;
	border-radius: 5px !important;
	background: #777 !important;
	color: #000 !important;
	margin-top: 10px !important;
}

.settingsinput::-webkit-input-placeholder
{
	color: #111 !important;
}

.settingsinputfocus
{
	color: #777 !important;
}

.settingswsa
{
	white-space: no-wrap;
}

.settingswstext
{
	display: inline-block;
	width: 70px;
}

.checkbox
{
	width: 60px;
	height: 20px;
	background: #333;
	margin: 15px 0 0 0;
	border-radius: 25px;
	position: relative;
	display: inline-block;
}

.checkbox label
{
	display: block;
	width: 26px;
	height: 12px;
	border-radius: 50px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	position: absolute;
	top: 4px;
	z-index: 1;
	left: 5px;
	background: #555;
}

.checkbox input[type=checkbox]
{
	display: none !important;
}

.checkbox input[type=checkbox]:checked + label
{
	left: 30px;
	background: #ddd;
}

.settingscbtext
{
	display: inline-block;
	width: 167px;
}

.resetsettings > a > div
{
	float: right;
	display: none;
}

/* Journal */

#journal
{
}

#journal .content
{
	overflow: hidden;
}

#journal table
{
	height: 100%;
	width: 100%;
}

#journal table td:first-child
{
	width: 90%;
}

#journal td
{
	vertical-align: top;
}

#journaltext
{
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
	width: calc(100%-30px);
	font-family: KingthingsPetrock;
	padding: 0 20px 0 0;
}

#journalquests
{
	font-family: KingthingsPetrock;
	padding-left: 10px;
	overflow: hidden;
	white-space: nowrap;
}

.journaldate
{
}

.journalparagraph
{
	margin-bottom: 20px;
	border: 1px solid #fff;
	padding: 20px;
	background: #000;
	border-radius: 0 10px 0 10px;
}

.journalquesttitle
{
	color: #ebdbc1;
	font-size: 1.1em;
	padding-bottom: 10px;
}

.journalquestsubtitle
{
	padding-left: 20px;
	color: #fff;
}

.journalquestsubtitle:hover
{
	color: #e2d173;
}

.completedquest
{
	color: #bbb;
}

.currentquest
{
	color: #e2d173;
}

/* Changelog */

#showchangelog
{
	text-align: right;
}

#showchangelog:hover
{
	color: #ffff00;
}

#changelog
{
	z-index: 10000 !important;
}

#changelog ul
{
	list-style-type: square;
	padding: 0 0 0 20px;
	margin: 0 auto auto auto;
}

.changelogversion
{
	font-size: 1.2em;
	font-weight: bold;
	padding-top: 5px;
}

.changelogcat
{
	font-size: 1.1em;
	color: #ebdbc1;
}

.changelogtext
{
	font-size: 0.9em;
}

/* Move Workspace Buttons */

.moveWorkspace
{
	position: absolute;
	left: 0;
	z-index: 9999;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	opacity: 0.8;
	display: none;
}

.moveWorkspace_inner
{
	display: inline-block;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	border: 3px solid #aaa;
	border-radius: 25px;
	background: #333;
}

.moveWorkspace_inner_hover
{
	border: 3px solid #ffe400;
}

.moveWorkspace:hover
{
	color: #ffff00;
}

.moveWorkspacehover
{
	background: #555;
	opacity: 1;
	border: 3px solid #57a6ff;
}

/* Misc */

.ininventory
{
	display: none;
}

/* Custom Fonts */

@font-face
{
    font-family: 'KingthingsPetrock';
    src: url('fonts/kingthingspetrock-webfont.eot');
    src: url('fonts/kingthingspetrock-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/kingthingspetrock-webfont.woff') format('woff'),
         url('fonts/kingthingspetrock-webfont.ttf') format('truetype'),
         url('fonts/kingthingspetrock-webfont.svg#kingthings_petrock_lightRg') format('svg');
    font-weight: normal;
    font-style: normal;
}