/* Default Style for all Windows */

.uiWindow
{
	background-image: linear-gradient(bottom, rgb(0,0,0) 25%, rgb(30,30,30) 63%);
	background-image: -o-linear-gradient(bottom, rgb(0,0,0) 25%, rgb(30,30,30) 63%);
	background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 25%, rgb(30,30,30) 63%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 25%, rgb(30,30,30) 63%);
	background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 25%, rgb(30,30,30) 63%);
	border: 2px solid #999;
	border-radius: 0 10px 0 40px;
}

.header
{
	color: #fff;
	font-family: KingthingsPetrock;
	font-size: 1.15em;
	font-weight: bold;
}

.header > span
{
	background-color: #1e1e1e;
	border-radius: 4px;
}

/* Window Images, TopLeft + BottomRight */

.imgtopleft
{
	background-image: url(images/window_topleft.png);
	background-repeat: no-repeat;
	width: 104px;
	height: 92px;
}

.imgtopright
{
}

.imgbottomleft
{
}

.imgbottomright
{
	background-image: url(images/window_btmright.png);
	background-repeat: no-repeat;
	width: 104px;
	height: 92px;
}

/* Inventory */

.inventoryheader
{
	color: #fff;
}

.invmenulist
{
	background-color: #1e1e1e;
}

.inventoryitem_outer_list
{
	background: #111 !important;
}

/* Map */

#olmap
{
	background: #111;
}

.searchmap
{
}

.searchmap input
{
	color: #fff;
	background: #000;
}

/* Journal */

#journal
{
}