/* Default Style for all Windows */

.uiWindow
{
	background: url(images/background.jpg);
	border: 1px solid #171717;
	border-radius: 7px;
	box-shadow: inset 0 0 15px 5px #111;
	text-shadow: 2px 2px 2px #000;
}

.header
{
	color: #ffde00;
	font-family: KingthingsPetrock;
	font-size: 1.15em;
	font-weight: bold;
	padding-top: 8px;
	padding-bottom: 2px;
}

/* Window Images, TopLeft + BottomRight */

.imgtopleft
{
}

.imgtopright
{
}

.imgbottomleft
{
}

.imgbottomright
{
}

/* Player Window */

.player_infolabel
{
	color: #ffde00;
}

.player_infotext
{
}

.player_skills
{
	color: #ffde00;
}

.player_skillnumber
{
}

/* Inventory */

.inventoryheader
{
	color: #fff;
	text-shadow: 2px 2px 2px #000;
}

.inventoryitem_outer
{
	background: #666;
	border-radius: 2px;
	box-shadow: 3px 3px 3px #000;
	padding: 2px;
}

.inventoryitem_outer_list
{
	background: url(images/black.png);
	border-radius: 2px;
	box-shadow: 2px 2px 3px #000;
}

/* Inventory Icons */

.ishowall
{
	background-image: url(images/inventoryicons/showall.png);
}

.iweapons
{
	background-image: url(images/inventoryicons/weapons.png);
}

.iarmors
{
	background-image: url(images/inventoryicons/armors.png);
}

.iscrollsandbooks
{
	background-image: url(images/inventoryicons/booksandscrolls.png);
}

.iingredients
{
	background-image: url(images/inventoryicons/ingredients.png);
}

.ipotions
{
	background-image: url(images/inventoryicons/potions.png);
}

.ifavorite
{
	background-image: url(images/inventoryicons/favorites.png);
}

.invtype1
{
	background-image: url(images/inventoryicons/invtype1.png);
}

.invtype2
{
	background-image: url(images/inventoryicons/invtype2.png);
}

/* Vertical / Horizontal Scrollbar Switch */

.changescrollbar
{
	background-image: url(images/arrowtopbottom.png);
}

.scrollbar_hor
{
	background-image: url(images/arrowleftright.png);
}

/* Filter Icon */

.filterinventory input
{
	color: #000;
	background: #bbb;
	font-weight: bold;
	border: 1px solid #444;
	border-radius: 3px !important;
}

::-webkit-input-placeholder
{
	color: #333;
}

/* Spells */

.spell
{
	background: url(images/black.png);
	border-radius: 2px;
	box-shadow: 2px 2px 3px #000;
}

/* Map */

#olmap
{
	background: url(../../images/blackbg_light.png);
}

.searchmap
{
}

.searchmap input
{
	color: #000;
	background: #ddd;
}

/* Journal */

#journal
{
	background: url(images/journal.jpg);
	border: 4px solid #493100;
	border-radius: 4px;
	box-shadow: inset 0 0 5px 5px #493100;
}

#journal .header
{
	color: #790000;
	text-shadow: 1px 1px 2px #777;
}

.journalparagraph
{
	margin-bottom: 20px;
	border: none;
	padding: 0px 5px 5px 5px;
	background: transparent;
	border-radius: 0;
	color: #000;
	text-shadow: none;
	font-weight: bold;
}

.journaldate
{
	color: #7a0000;
	text-shadow: none;
	font-weight: bold;
}

.journalquesttitle
{
	color: #7a0000;
	text-shadow: none;
	font-weight: bold;
}

.journalquestsubtitle
{
	color: #000;
	text-shadow: none;
	font-weight: bold;
}

.journalquestsubtitle:hover
{
	color: #7a0000;
}

.completedquest
{
	color: #606060;
}

.currentquest
{
	color: #ab0000;
}

/* Sticky Button */

.sticky
{
	width: 15px;
	height: 15px;
	background-color: #222;
	border: 2px outset #bbb;
	border-radius: 4px 4px 4px 4px;
	top: 8px;
	right: 8px;
	opacity: 0.5;
}

.sticky:hover
{
	border: 2px outset #ddd;
}

.sticky_on
{
	background-color: #111;
	border: 2px inset #999;
}

.sticky_on:hover
{
	border: 2px inset #bbb;
}

#journal .sticky
{
	background-color: #9e855f;
	opacity: 0.7;
}